<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DDLC"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".SayoriGrid"
            android:exported="false" />
        <activity
            android:name=".YuriGrid"
            android:exported="false" />
        <activity
            android:name=".NatsukiGrid"
            android:exported="false" />
        <activity
            android:name=".MonikaGrid"
            android:exported="false" />
        <activity
            android:name=".NatsukiReddit"
            android:exported="false" />
        <activity
            android:name=".YuriReddit"
            android:exported="false" />
        <activity
            android:name=".SayoriReddit"
            android:exported="false" />
        <activity
            android:name=".MonikaReddit"
            android:exported="false" />
        <activity
            android:name=".DDLC_Plus"
            android:exported="false" />
        <activity
            android:name=".Monika"
            android:exported="false" />
        <activity
            android:name=".Natsuki"
            android:exported="false" />
        <activity
            android:name=".Yuri"
            android:exported="false" />
        <activity
            android:name=".Web"
            android:exported="false" />
        <activity
            android:name=".Sayori"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>